body {
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(64, 64, 82);
    /* background-color: #10375c; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: hsla(0,0%,100%,.3);  
    position: relative;
    overflow: hidden;
    
    /* stylings */
    padding: 1em 0;
    border-radius: .3em;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
                  0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
}

main::before {
    content: '';
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    filter: blur(5px);
    z-index: -1;
    margin: -10px;
}

main:hover {
    box-shadow: rgb(20, 76, 128) 0px 0px 10px 10px;
}

#player-card {
    width: 300px;
    height: 640px;
}

/* styles for navbar */
nav {
    height: calc(640px * 1.7 / 22.2);
    display: flex;
    justify-content: space-between;
}

nav div {
    display: flex;
    justify-content: center;
}

#nav-icon {
    width: 40px;
    height: 30px;
    padding-top: 10px;
    color: white;
    border-radius: 20px;
}

#nav-icon:active {
    box-shadow: rgba(255, 255, 255, 0.233) 0px 0px 5px 5px;
    background-color: rgba(255, 255, 255, 0.089);
}

/* styles for music image */
#music-image {
    display: flex;
    justify-content: center;
    height: calc(640px * 10.5 / 22.2); 
}

#music-image img {
    height: calc(640px * 10.5 / 22.2);
}

/* styles for other infos */
#player {
    height: calc(640px * 10 / 22.2);
}

/* 1. music information div */
#music-info {
    margin: 40px 10px 25px 10px;
    display: flex;
    justify-content: space-between;
}

#music-info-icon {
    color: white;
    margin-top: 5px;
    border-radius: 8px;
}

#music-info-icon:hover {
    box-shadow: rgba(255, 255, 255, 0.233) 0px 0px 5px 5px;
    background-color: rgba(255, 255, 255, 0.089);
}

#music-info-box {
    width: 230pxs;
}

#music-info-box div {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-bottom: 2px;
}

#animation-title {
    width: 230px;
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    z-index: -5;
}

@keyframes example {
    0%   {left: 0px;}
    50%  {left: -128px;}
    100% {left: 0px;}
  } 

/* 2. play bar */
#play-bar {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.slider {
    width: 90%;
    height: 5px;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: -407px 0 0 400px white;
}

/* for firefox */
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: -407px 0 0 400px white;
}

/* 3. play time */
#play-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

#play-time div {
    padding: 0px 15px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* 4. control panel div */
#play-board {
    display: flex;
    justify-content: center;
}

#play-board div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-board-center {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
}

#play-board-center:active {
    box-shadow: rgba(255, 255, 255, 0.233) 0px 0px 3px 3px;
    background-color: rgba(255, 255, 255, 0.089);
}

#play-board-second {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: white;
}

#play-board-second:active {
    box-shadow: rgba(255, 255, 255, 0.233) 0px 0px 3px 3px;
    background-color: rgba(255, 255, 255, 0.089);
}

#play-board-third {
    width: 40px;
    height: 60px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.1);
}

#play-board-third:hover {
    color: rgb(255, 255, 255);
}

#play-board-third:active {
    box-shadow: rgba(255, 255, 255, 0.233) 0px 0px 3px 3px;
    background-color: rgba(255, 255, 255, 0.089);
}