.left {
  text-align: left;
  float: left;
  background-color: cadetblue;
}

.right {
  text-align: right;
  float: right;
  background-color: aquamarine;
}

.chat {
  width: 60%;
  border-style: solid;
  border-width: 3;
  border-radius: 5px;
  font-size: 16px;
}
