
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 針對flex-direction 的方向置中 */
  height: 100vh;
  width: 80vw;
  margin:auto;
}

.app div{
  padding: 10px;
  width: 100%;
  justify-content: space-evenly;
}

.header{
  display: flex;
  width: 100%;
}

.section{
  display: flex;
  width: 100%;
}

.queryResult{
  height: 300px;
  width: 100%;
  border: 1px solid #eeeeee52;
  background-color: #eeeeee52;
}